# Import required libraries

In [1]:
import numpy as np
import pandas as pd

In [16]:
np_olympic_country = np.array(['Great Britain','China','Russia','United States',
                               'Korea','Japan','Germany'])
np_olympic_country_gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_bronze = np.array([19,22,32,29,7,17,14])

# Country with max gold

In [5]:
max_gold_index = np_olympic_country_gold.argmax()

In [6]:
country_with_max_gold = np_olympic_country[max_gold_index]

In [7]:
print(country_with_max_gold)

United States

# Countries with won more than 20 gold medals

In [8]:
print(np_olympic_country[np_olympic_country_gold>20])

['Great Britain' 'China' 'Russia' 'United States']

# Medal Tally

In [9]:
medal_tally = np.array(['gold', 'silver', 'bronze'])

In [10]:
print(medal_tally)

['gold' 'silver' 'bronze']

# Print each country name with the corresponding number of gold medals and total number of medals won

In [15]:
for i in range(len(np_olympic_country)):
 gold_medal = np_olympic_country_gold[i]
 country = np_olympic_country[i]
 total_medal = np_olympic_country_bronze[i] + np_olympic_country_gold[i] + np_olympic_country_silver[i]
 print('{}, gold medal {}, total medals {}'.format(country, gold_medal, total_medal))

Great Britain, gold medal 29, total medals 65
China, gold medal 38, total medals 88
Russia, gold medal 24, total medals 81
United States, gold medal 46, total medals 103
Korea, gold medal 13, total medals 28
Japan, gold medal 7, total medals 38
Germany, gold medal 11, total medals 36